<app-toolbar></app-toolbar>

<div style="margin: 50px">
  <p-table #tt [columns]="cols" [value]="timeshifts" selectionMode="single" [(selection)]="selectedTimeshift"
           (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      {{employeeTimeshifts}}
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <div *ngIf="col.field=='date'">
            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" placeholder="select date" dateFormat="dd/MM/yy" *ngSwitchCase="col.field" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)"></p-calendar>
          </div>
          <div *ngIf="col.field!='date'">
            <input *ngSwitchCase="col.field" placeholder="contains" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button (click)="showDialogToAdd()" icon="pi pi-plus" label="Add" pButton type="button"></button>
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Timeshifts" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '600px'}">
  <div class="ui-g ui-fluid" *ngIf="timeshift">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="logType">Log type</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="logType" [(ngModel)]="timeshift.logType"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="timestamp">Date</label>
      </div>
      <div class="ui-g-8">
        <p-calendar id="timestamp" [(ngModel)]="timeshift.timestamp" dateFormat="dd/MM/yy"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="timestamp">Time</label>
      </div>
      <div class="ui-g-8">
        <p-calendar id="timestamp" [(ngModel)]="timeshift.timestamp" timeOnly="true" dateFormat="hh:mm"></p-calendar>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-delete" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
