<app-toolbar></app-toolbar>

<div style="margin: 50px">
  <p-table #tt [columns]="cols" [value]="allEmployees" selectionMode="single" [(selection)]="selectedEmployee"
           (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      All employees
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="col.field" placeholder="contains" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="selectedEmployee != null" style="margin: 50px">
  <p-table [value]="dayHours">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Time spent</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-day>
      <tr>
        <td>{{day.date}}</td>
        <td>{{day.timeSpent}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
