<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Employees" routerLink="/employees" icon="pi pi-user"></button>
    <button pButton type="button" label="Timeshifts" style="margin-left: 10px" routerLink="/timeshifts" icon="pi pi-clock"></button>
    <button pButton type="button" label="Calendar" style="margin-left: 10px" routerLink="/calendar" icon="pi pi-calendar"></button>
    <button pButton type="button" label="Time spent" style="margin-left: 10px" routerLink="/timespent" icon="pi pi-clock"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="Log out" class="ui-button-danger" (click)="logOut()"></button>
  </div>
</p-toolbar>
