<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div style="display:flex; align-items:center; justify-content:center; height:100%">
    <p-panel header="Login">

      <div style="display:flex; align-items:center; justify-content:center; flex-direction:column">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"> Username <i class="pi pi-user"></i></span>
          <input type="text"  formControlName="username"/>
        </div>

        <br>

        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"> Password <i class="pi pi-lock"></i></span>
          <input type="password" formControlName="password"/>
        </div>

      </div>

      <br>

      <div class="ui-button">
        <button pButton type="button" label="Log in" (click)="onSubmit()" [disabled]="loading"></button>
      </div>

    </p-panel>
  </div>
</form>
