<app-toolbar></app-toolbar>

<div style="margin: 50px">
  <p-table #tt [columns]="cols" [value]="allEmployees" selectionMode="single" [(selection)]="selectedEmployee"
           (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      All employees
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>
          Actions
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <div *ngIf="col.field=='dateOfBirth'">
            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" placeholder="select date" dateFormat="dd/MM/yy" *ngSwitchCase="col.field" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)"></p-calendar>
          </div>
          <div *ngIf="col.field!='dateOfBirth'">
            <input *ngSwitchCase="col.field" placeholder="contains" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          </div>
        </th>
        <th>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          <button type="button" pButton icon="pi pi-eye" (click)="showTimeshifts(rowData)" label="Show timeshifts"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Employee" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '600px'}">
  <div class="ui-g ui-fluid" *ngIf="displayDialog">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="date">Name</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="employee.name"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="date">Date of birth</label>
      </div>
      <div class="ui-g-8">
        <p-calendar id="date" dateFormat="dd/MM/yy" [(ngModel)]="employee.dateOfBirth"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="shiftType">Shift type</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="shiftType" [(ngModel)]="employee.shiftType"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="workplace">Workplace</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="workplace" [(ngModel)]="employee.workplace"/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-delete" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
